.register__validpwd--off{
    position: absolute;
    left: -9999px;
}
.setErrMsg{
    background-color: red;
    opacity: 0.5;
    text-align: center;
    font-size: larger;
    color: aliceblue;
    
}
.homeshadow{
    box-shadow: 0 5px 0 #454545;
    transition: .5s;
}
.homeshadow:active{
    box-shadow: none;
    transform: translateY(5px) ; 
}