<html>
  <div
    style="
      border: 1px solid #d8d8d8;
      padding: 60px;
      margin: 40px;
      min-width: 300px;
      min-height: 300px;
    "
  >
    <h1 style="font-size: 18px">Hello {{name}}</h1>

    <p style="font-size: 14px; width: 80%">
      Your recently requested to reset your password for your IStation account.
      Click the button below to reset it.
    </p>

    <div style="padding: 20px; border-top: 1px dashed #d8d8d8; width: 100%">
      <a
        style="
          background-color: #1668a7;
          font-weight: bold;
          color: white;
          padding: 10px 20px;
          border: none;
          text-decoration: none;
          border-radius: 1px;
        "
        href="{{link}}"
        >Reset your password</a
      >
    </div>
  </div>
</html>