.email_confirm{
    background-color:rgba(255, 255, 255, 0.3);
    color: white;
    border: 5px  white;
    border-radius: 4px;
    
}

.box_email{
    background:transparent;
    width: 700px;
    margin: auto;
    border: 2px solid rgba(255,255,255, .5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    justify-content: center;
    box-shadow: 0 0;
    padding: 0 20px 70px;
}
