.email_confirm{
    background-color:rgba(255, 255, 255, 0.3);
    color: white;
    border: 5px  white;
    border-radius: 4px;
    
}

.box_email{
    background:transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0;
    padding: 50px;
}

.bg_email-confirm{
    background-image: url('../../../public/images/email-marketing.png');
    background-position: left;
    background-size: 60%;
    background-repeat: no-repeat;
}
.btn_submit{
    box-shadow: 0 5px 0 #454545;
    transition: .5s;
}
.btn_submit:active{
    box-shadow: none;
    transform: translateY(5px) ;
}
.email_confirm-icon{
    background-image: url('https://icons8.com/icon/91986/mail-account');
}

.bg_reset-pwd{
    background-image: url('../../../public/images/reset-pwd.png');
}